
  <mat-card @fade background-color="primary">
    <mat-slide-toggle (toggleChange)="isTroubleshooting = !isTroubleshooting;">troubleshoot?
    </mat-slide-toggle>
<div id="associationWrapper" >
<p *ngIf="isTroubleshooting">input node is {{node.name}} -- {{node.id}} - association info is {{node.properties['ContractManagement:associations']}} - selected node is {{selectedNode}} - newnodearray is {{newAss</p>
<!-- <button (click)="updateNodeID(node)">Update</button> -->


<div fxLayout="row" id="container" style="width:auto;height:auto;">
  <div id="associnfo" fxFlex="100%">
<mat-tab-group [selectedIndex]="selectedAssociationTab">
  <mat-tab label="Current Associations">
    <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSortActive="id" matSortStart="asc" matSortEnableClear matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="nodeid">
        <th mat-header-cell *matHeaderCellDef>nodeid</th>
        <td mat-cell *matCellDef="let element">{{element.nodeid}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="warn" aria-label="Edit Row" (click)="RemoveElementFromObjectArray(element.id)">
            <mat-icon>cancel</mat-icon>
          </button>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row.nodeid)"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          No Associations!!
        </td>
      </tr>

    </table>
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="1" [pageSize]="5" [pageSizeOptions]="[5, 10]"></mat-paginator>
  </mat-tab>

  <mat-tab label="Add Association" >
    <adf-search-control
    [highlight]="true"
    [liveSearchEnabled]="true"
    [expandable]="true"
    (optionClicked)="onSeachItemClicked($event)"
    >

</adf-search-control>
    <adf-breadcrumb
    [target]="documentList"

    >
</adf-breadcrumb>

    <adf-document-list
    #documentList
    [currentFolderId]="currentFolderId"
    [contextMenuActions]="true"
    [contentActions]="true"
    [showHeader]="true"
    [allowDropFiles]="true"
    [contentActionsPosition]="'right'"
    [thumbnails]="true"
    >
    <data-columns>
      <data-column key="$thumbnail" type="image"></data-column>
      <data-column
          title="Name"
          key="name"
          sortable="true"
          class="full-width ellipsis-cell">
      </data-column>
      <data-column
          title="Created By"
          key="createdByUser.displayName"
          sortable="true"
          class="desktop-only">
      </data-column>
      <data-column
          title="Created On"
          key="createdAt"
          type="date"
          format="medium"
          sortable="true"
          class="desktop-only">
      </data-column>
  </data-columns>


    <content-actions>
      <content-action
          title="Associate with {{node.name}}"
          permission="update"
          disableWithNoPermission="true"
          (execute)="customAssociationAction($event)">
      </content-action>
  </content-actions>
</adf-document-list>
<adf-pagination
    [target]="documentList">
</adf-pagination>
</mat-tab>
  </mat-tab-group>
  </div>
  <ng-container *ngIf="selectedNode" style="width:100px !important;height:100px !important;">
    <adf-alfresco-viewer fxFlex="20%"
      [(showViewer)]="selectedNode"
      [overlayMode]="false"
      [nodeId]="selectedNode">
    </adf-alfresco-viewer>
  </ng-container>

</div>
<div id="buttons" style="width:100%;margin-left:auto;margin-right:auto;" *ngIf="showSaveCancelButtons">

  <button mat-raised-button color="primary" (click)="saveAssociations()" [disabled]="isSaveButtonDisabled">Save</button>

</div>
</div> <!-- for wrapper -->
</mat-card>

