#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin:10px;
    justify-content: center;
}

.button{
  margin:10px;
}
#topSection{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin:10px;
  display: flex;
  height:auto;
}
#chart{
  width: 600px;
max-width:1000px;
margin-left:auto;
margin-right:auto;

}

#tasks{
    width:100%;
    margin:10px;
}

#days{
  max-width:25%;
  margin:10px;
  justify-content: right;
}

#recents{
    width:100%;
    margin:10px;

}

.pagination{
    display:block;
    background-color: white;
}

.example-container {
    width: 800px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .example-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: right;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .adf-alfresco-viewer {
    padding:10px;
    position:absolute;
    z-index: 1000;
    width: 400px;
    height: 400px;
    top: 60px;
    right: 50px;
  }

  #processButton {
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }

  .dayalert {
    background: rgb(10, 65, 83);
    color:antiquewhite;
    font-size: 40px;
    text-align:center;
    height: 60px;
    margin:10px;
  }

  .backgroundRed{
    background-color: red;
  }

  #sevendayalertdiv{
    width:100%;
    height:20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: orangered;
    color: whitesmoke;
  }