#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 800px;

}

#chart{
    width: 100%;
    filter: drop-shadow(17px 15px 15px #000);
}

#tasks{
    width:100%;
    filter: drop-shadow(17px 15px 15px #000);
}

.pagination{
    display:block;
    background-color: white;
}
