<div id="container">
  <mat-card fxLayoutAlign="space-around center" fxfill fxLayoutAlign="center" fxLayout="row"
    style="width:100%;margin:10px;position:sticky;position:-webkit-sticky;top: 0;z-index: 20;">
    <mat-card-content fxFlex="auto">
      <div id="sevendayalertdiv" *ngIf="sevenDayShowMessage" style="width:100%;">{{sevenDayMessage}}</div>
      <div id="processButton">
        <button (click)="runChartProcess()" mat-raised-button color="primary" id="refreshButton"
          class="button"><mat-icon>refresh</mat-icon></button>
        <button (click)="createProcessClick()" mat-raised-button color="primary" class="button">Create NDA</button>
      </div>
    </mat-card-content>
  </mat-card>

  <div id="process" *ngIf="showNDAForm">

    <adf-cloud-start-process [appName]="'CLM-mvp-v1-alpha-1'" [name]="processName"
      [processDefinitionName]="'NDA Request Form'" (success)="processSuccess()">
    </adf-cloud-start-process>
  </div> <!--div for process-->
<mat-card style="width:100%;margin:10px;">
  <h1>Contract Status</h1>

  <div id="topSection" fxLayout fxLayoutAlign="center" fxLayout="row">


    <div id="chart" fxFlex="50">
      <canvas id='canvas'>{{chart}}</canvas>
      <!--         <div id="chartDetail" fxFlex="50">chart detail goes here</div> -->
    </div>
    <div id="details" fxFlex="100" *ngIf="showChartPanel" style="margin:10px;">
      <div class="mat-elevation-z8" style="max-height:300px;overflow: scroll;">
        <table mat-table [dataSource]="chartDataArray" tabindex="0">
        
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- node expiration Column -->
          <ng-container matColumnDef="nodeEx">
            <th mat-header-cell *matHeaderCellDef> Expiration </th>
            <td mat-cell *matCellDef="let element"> {{element.nodeEx | date:'mediumDate'}} </td>
          </ng-container>

          <!-- node Column -->
          <ng-container matColumnDef="node">
            <th mat-header-cell *matHeaderCellDef> Node </th>
            <td mat-cell *matCellDef="let element"> {{element.node}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedDetailRow(row)"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of folderData"></mat-paginator>
        </div>

    </div> <!-- div for 306090 details -->
  </div>
</mat-card>

    <mat-card style="width:100%;margin:10px;">
  <div id="lowerSection" fxLayout="column" fxLayoutAlign="space-evenly stretch" fxfill style="width:100%">
    <div fxFlex="100" style="margin-right:auto"><h1>Contract Outlook</h1></div>

      <div id="thirty6090" fxFlex="100">
        

        <mat-card class="dayalert" (click)="this.thirty6090Clicked(1)">
          <mat-card-header>
            <mat-card-title>30 DAY</mat-card-title>
          </mat-card-header>
          {{thirtyDayCount}}
        </mat-card>
        <mat-card class="dayalert" (click)="this.thirty6090Clicked(2)">
          <mat-card-header>
            <mat-card-title>60 DAY</mat-card-title>
          </mat-card-header>
          {{sixtyDayCount}}
        </mat-card>
        <mat-card class="dayalert" (click)="this.thirty6090Clicked(3)">
          <mat-card-header>
            <mat-card-title>90 DAY</mat-card-title>
          </mat-card-header>
          {{ninetyDayCount}}
        </mat-card>

    </div>

      <div id="details" fxFlex="100" *ngIf="showSummaryPanel" style="margin: 10px;">
        <div class="mat-elevation-z8" style="max-height:300px;overflow: scroll;">
        <table mat-table [dataSource]="mainDataArray" tabindex="0">
        
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          
          <!-- node expiration Column -->
          <ng-container matColumnDef="nodeEx">
            <th mat-header-cell *matHeaderCellDef> Expiration </th>
            <td mat-cell *matCellDef="let element"> {{element.nodeEx}} </td>
          </ng-container>

          <!-- node Column -->
          <ng-container matColumnDef="node">
            <th mat-header-cell *matHeaderCellDef> Node </th>
            <td mat-cell *matCellDef="let element"> {{element.node}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedDetailRow(row)"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of folderData"></mat-paginator>
        </div>

      </div> <!-- div for 306090 details -->

  </div> <!-- div for lower section-->
    </mat-card>
  <div id="tasks">
    <mat-card>
      <mat-card-content>
        <h1>My Open Tasks</h1>
        <adf-cloud-task-list #taskCloud [appName]="appName" (rowClick)="onRowClick($event)">
          <data-columns>
            <data-column key="name" title="Name" class="full-width name-column"></data-column>
            <data-column key="status" title="Status" class="full-width name-column"></data-column>
            <data-column key="priority" title="Priority" class="full-width name-column"></data-column>
            <data-column key="createdate" title="Created" class="full-width name-column"></data-column>
          </data-columns>
        </adf-cloud-task-list>
        <adf-pagination [target]="taskCloud" [supportedPageSizes]="[5]" [pagination]="5">
        </adf-pagination>
      </mat-card-content>
    </mat-card>
  </div> <!-- div for tasks -->


  <div id="recents">
    <mat-card>
      <mat-card-content>
        <h1>My Recent Items</h1>
        <adf-document-list [currentFolderId]="'-recent-'" [headerFilters]="true" (preview)="showBoxPreview($event)"
          #recentList>
          >
          see if expiration date can be fetched and turn row red
          <data-columns>
            <data-column key="$thumbnail" type="image"></data-column>
            <data-column title="Name" key="name" class="full-width ellipsis-cell"></data-column>
            <data-column title="Created By" key="createdByUser.displayName">
            </data-column>
            <data-column key="createdOn" title="Created"></data-column>
          </data-columns>
        </adf-document-list>
        <adf-pagination [target]="recentList" [supportedPageSizes]="[5]" [pagination]="5">
        </adf-pagination>
      </mat-card-content>
    </mat-card>
  </div> <!--div for recents-->
</div> <!-- div for container -->

<div class="adf-alfresco-viewer">
  <adf-alfresco-viewer [(showViewer)]="showViewer" [overlayMode]="false" [nodeId]="nodeId">
  </adf-alfresco-viewer>
</div>