<div id="container">
  fill up white space.  have details about each slice below pie (list of contracts) and show recent on the right
  <div id="topSection">
  <div id="chart" >
        <h1>Contracts Status</h1>
        <button (click)="getCounts()" mat-raised-button color="primary">refresh</button>
        <canvas id='canvas'><h1>Contracts Status</h1><p></p>{{chart}}</canvas>
        <mat-grid-list cols="2" rowHeight="4:1">
          <mat-grid-tile class="backgroundRed" *ngIf="this.sevenDayCount">{{sevenDayCount}}</mat-grid-tile>
          <mat-grid-tile>2</mat-grid-tile>
          <mat-grid-tile>3</mat-grid-tile>
          <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list> 
show items thare are close to expiring in red and banner on top
  </div>
  <!-- <div id="days"> -->
       

  </div>
<!-- </div> -->
  <div id="processButton">
    <button (click)="createProcessClick()" mat-raised-button color="primary">Create NDA Form</button>
  </div>


<div id="process" *ngIf="showNDAForm">

  <adf-cloud-start-process 
      [appName]="'CLM-mvp-v1-alpha-1'"
      [name]="processName"
      [processDefinitionName]="'NDA Request Form'"
      (success)="processSuccess()"
      >
 </adf-cloud-start-process>
</div>


  <div id="tasks">
    <mat-card>
      <mat-card-content>
        <h1>My Open Tasks</h1>
        <adf-cloud-task-list #taskCloud [appName]="appName" (rowClick)="onRowClick($event)">
          <data-columns>
            <data-column key="name" title="Name" class="full-width name-column"></data-column>
            <data-column key="status" title="Status" class="full-width name-column"></data-column>
            <data-column key="priority" title="Priority" class="full-width name-column"></data-column>
            <data-column key="createdate" title="Created" class="full-width name-column"></data-column>
          </data-columns>
          <!--  <adf-custom-empty-content>
      Your Content
  </adf-custom-empty-content> -->
        </adf-cloud-task-list>
        <adf-pagination [target]="taskCloud" [supportedPageSizes]="[5]" [pagination]="5">
        </adf-pagination>
      </mat-card-content>
    </mat-card>
  </div> <!-- div for tasks -->
  <div id="recents">
    <mat-card>
      <mat-card-content>
        <h1>My Recent Items</h1>
        <adf-document-list
        [currentFolderId]="'-recent-'"
        [headerFilters]="true"
        (preview) = "showBoxPreview($event)"
        #recentList>
          >
          see if expiration date can be fetched and turn row red
          <data-columns>
            <data-column key="$thumbnail" type="image"></data-column>
            <data-column title="Name" key="name" class="full-width ellipsis-cell"></data-column>
            <data-column title="Created By" key="createdByUser.displayName">
            </data-column>
            <data-column key="createdOn" title="Created"></data-column>
          </data-columns>
        </adf-document-list>
        <adf-pagination [target]="recentList" [supportedPageSizes]="[5]" [pagination]="5">
        </adf-pagination>
      </mat-card-content>
    </mat-card>
  </div>
</div> <!-- div for container -->

<div class="adf-alfresco-viewer">
  <adf-alfresco-viewer 
[(showViewer)]="showViewer" 
[overlayMode]="false" 
[nodeId]="nodeId"

>
</adf-alfresco-viewer>
</div>
