.wrapper{
    width:max;

}

.adf-content-metadata-card-div-wrapper{
    width:30% !important;
    float:right;
}

.adf-document-list-div-wrapper{
width: 70% !important;
float:left;
}

.allWrapper {
    width:100%
}