<!-- <input type="text" [searchAutocomplete]="search">

<adf-search #search="searchAutocomplete">
    <ng-template let-result>
        <span *ngFor="let item of result?.list?.entries">
            {{ item?.entry.name }}
        </span>
    </ng-template>
</adf-search>  -->
<adf-search-control 
    [expandable]="true"
    [highlight]="true"
    (optionClicked)="onSearchItemClicked($event)"
    (submit)="onSearchSubmit($event)">
</adf-search-control>

<div class="doclist-div-wrapper">
<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb
      class="files-breadcrumb"
      root="Personal Files"
      [target]="documentList"
      [folderNode]="documentList.folderNode"
    >
    </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>

  <adf-upload-button
    [rootFolderId]="documentList.currentFolderId || '-root-'"
    [adf-check-allowable-operation]="'create'"
    (success)="uploadSuccess($event)"
  >
  </adf-upload-button>
</adf-toolbar>
<!-- contracts folder 5be4a4cc-f413-4f28-8329-dce29671b224 -->
<div class="adf-document-list-div-wrapper">

<adf-document-list
  #documentList
  [contextMenuActions]="true"
  [currentFolderId]="currentFolderId"
  (preview)="showPreview($event)"
  (nodeClick)="nodeClicked($event)"
  [headerFilters]="true"
  [thumbnails]="'thumbnails'"
>
<data-columns>
  <data-column key="$thumbnail" type="image"></data-column>
  <data-column title="Name" key="name" class="full-width ellipsis-cell"></data-column>
  <data-column
      title="Created By" 
      key="createdByUser.displayName">
  </data-column>
  <data-column
            title="Created On" 
            key="createdAt" 
            type="date" 
            format="medium"
            sortable="true"
            class="desktop-only">
        </data-column>
</data-columns>
<content-actions>
  <content-action
      title="Copy"
      permission="update"
      [disableWithNoPermission]="true"
      handler="copy">
  </content-action>
  <content-action
      title="Delete"
      permission="delete"
      disableWithNoPermission="true"
      handler="delete">
  </content-action>
</content-actions>
</adf-document-list>


<adf-pagination
  [target]="documentList"
  [supportedPageSizes]="[5, 10, 15, 20]"
  [pagination]="5"
>
</adf-pagination>
<div style="width:100%; position:relative; height:500px;min-height:500px">
<adf-alfresco-viewer
[showViewer]="showViewer" 
[overlayMode]="false" 
[nodeId]="nodeId">
</adf-alfresco-viewer>
</div>
</div> <!-- div for doc list and pagination -->

<div class="adf-content-metadata-card-div-wrapper">
  <adf-content-metadata-card
    [displayEmpty]="true"
    [multi] = "false"
    [preset]="'*'"
    [node]="node">
<!--     <adf-node-comments
    [nodeId]="nodeId"
    [readOnly]="false">
</adf-node-comments> -->
</adf-content-metadata-card>
</div>
<div style="z-index:1000;position:absolute;left:300px;top:500px;height:500px;width:500px;">
  
  </div>
</div> <!-- div for wrapper -->

<!--viewer here-->
<!-- <adf-node-comments
    [nodeId]="nodeId"
    [readOnly]="false">
</adf-node-comments> -->
<!-- <adf-like [nodeId]="nodeId"></adf-like> -->


<adf-file-uploading-dialog></adf-file-uploading-dialog>
